body{
	height: 100%;
	background-color: #383838;
	background-image: url(../img/Background3DVES.jpg);
	background-size: cover;
	 -webkit-background-size: cover;
 	 -moz-background-size: cover;
 	 -o-background-size: cover;
	background-repeat: no-repeat;
	color: #FFF;
	margin: 0px;
	font-family:"Geneva", sans-serif
}
	#login {
		float: right;
		background-color: #303030;
		width: 660px;
		padding: 5px;
	}
	.campo {
		float: left;
		margin-left: 25px;
		padding: 4px;

	}
		.inputLog, .textlog{
			height: 30px;
			margin: 0px;
			padding: 0px;
			border: 0;
			display: block;
			float: left;
		}
		.textlog {
			margin-right: 8px;
			padding-top: 6px;
		}
		#debug{
			color: #BF3A3A;
			width: 100%;
			text-align: center;
		}
		#btnlog{
			color: #FFF;
			text-decoration: none;
			background-color: #595959;
			margin-top: 4px;
			margin-left: 12px;
			padding: 6px 8px;
			float: left;
		}
			#btnlog:hover{
				background-color: #212121;

			}